absl-py==0.11.0
appdirs==1.4.4
audioread==2.1.9
Bottleneck==1.3.2
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.2.3
configparser==5.0.1
ctc-segmentation==1.4.0
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
Distance==0.1.3
docker-pycreds==0.4.0
editdistance==0.5.2
future==0.18.2
g2p-en==2.1.0
gitdb==4.0.5
GitPython==3.1.12
grpcio==1.34.1
h5py==3.1.0
humanfriendly==9.1
idna==2.10
importlib-metadata==3.4.0
inflect==5.0.2
jaconv==0.2.4
joblib==1.0.0
kaldi-io==0.9.4
kaldiio==2.17.2
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
Markdown==3.3.3
matplotlib==3.1.0
nara-wpe==0.0.7
nltk==3.5
numba==0.52.0
numpy==1.19.5
oauthlib==3.1.0
packaging==20.8
pandas==1.3.2
pathtools==0.1.2
Pillow==8.1.0
pooch==1.3.0
promise==2.3
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pypinyin==0.40.0
python-dateutil==2.8.1
pytorch-wpe==0.0.0
pytz==2021.1
pyworld==0.2.12
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7
scikit-learn==0.24.0
scipy==1.6.0
seaborn==0.11.2
sentencepiece==0.1.86
sentry-sdk==0.19.5
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
SoundFile==0.10.3.post1
subprocess32==3.5.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
threadpoolctl==2.1.0
torch==1.5.0+cu101
torch-complex==0.2.0
torchvision==0.6.0+cu101
tqdm==4.56.0
typeguard==2.10.0
typing-extensions==3.7.4.3
Unidecode==1.1.2
urllib3==1.26.2
wandb==0.10.13
watchdog==0.10.4
Werkzeug==1.0.1
zipp==3.4.0